<!doctype html>
<html>
<head>
    <title>GAME</title>
</head>
<body>
    <form action="/madlib" method="GET">

        <label for="field-adj">Pick an Adjective:</label>
        <input type="text" name="adj" id="field-adj">
        <br>

        <label for="field-pt-verb">Pick a Past Tense Verb:</label>
        <input type="text" name="pt-verb" id="field-pt-verb">
        <br>

        <label for="field-plnoun">Pick a Pulral Noun:</label>
        <input type="text" name="pl-noun" id="field-plnoun">
        <br>

        <label for= "beverage">Pick a Beverage:</label>
            <select name="drink" id="beverage">
                <option value="apple-juice">Apple Juice</option>
                <option value="margaritas">Margaritas!</option>
                <option value="chocolate-milk">Chocolate Milk</option>
                <option value="more-rum">More Rum...</option>
                <option value="nothing-im-lame">Nothing, I'm Lame.</option>
            </select>
        <br>

        Pick a Meal:
        <label><input type="radio" name="meal" value="breakfast">Breakfast</label> 
        <label><input type="radio" name="meal" value="lunch">Lunch</label> 
        <label><input type="radio" name="meal" value="dinner">Dinner</label>    
        <br>

         <label for="field-location">Name a Location:</label>
        <input type="text" name="location" id="field-location">
        <br>

         <label for="field-noun">Name a Noun:</label>
        <input type="text" name="noun" id="field-noun">
        <br>

        <label for="field-celebrity">Name a Celebrity:</label>
        <input type="text" name="celebrity" id="field-celebrity">
        <br>

        <label for= "trait">Select a Personal Trait:</label>
            <select name="pers-trait" id="trait">
                <option value="sense of humor">Sense of Humor</option>
                <option value="abs">ABS!</option>
                <option value="smile">Smile</option>
                <option value="intelligence">Intelligence</option>
            </select>
        <br>

        <label for="field-tv">Name a TV Character:</label>
        <input type="text" name="tv" id="field-tv">
        <br>

        <label for="field-clothing">Name an Item of Clothing:</label>
        <input type="text" name="clothing" id="field-clothing">
        <br>

        <label for="field-num">Pick a Number:</label>
        <input type="text" name="num" id="field-num">
        <br>

        <label for= "new-adj">Pick an Adjective:</label>
            <select name="adj" id="new-adj">
                <option value="Hairy">Hairy</option>
                <option value="Slim">Slim</option>
                <option value="Slim">Slim</option>
                <option value="Chubby">Chubby</option>
                <option value="Locquacious">Locquacious</option>
            </select>
        <br>
        

        

        
        <label>

        <input type="submit">

    </form>
</body>
</html>