<!doctype html>
<html>
<head>
    <title>GAME</title>
</head>
<body>
    <form action="/madlib" method="GET">
        <label for="field-person">Name a Person:</label>
        <input type="text" name="person" id="field-person">
        <br>

        <label for="field-color">Pick a Color:</label>
        <input type="text" name="color" id="field-color">
        <br>

        <label for="field-noun">Pick a Noun:</label>
        <input type="text" name="noun" id="field-noun">
        <br>

        <label for="field-adj">Pick an Adjective:</label>
        <input type="text" name="adj" id="field-adj">
        <br>

        <input type="submit">

    </form>
</body>
</html>